* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #007bff;
  color: white;
  width: 100vw;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
  font-size: 1.2em;
}