* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerI {
  background-color: #007bff;
  color: white;
  width: 100vw;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.headerI h1 {
  margin: 0;
  font-size: 2em;
}

.headerI .iconoI {
  font-size: 1.5em;
}

.headerB {
  background-color: #007bff;
  color: white;
  width: 100vw;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.headerB h1 {
  margin: 0;
  font-size: 2em;
}

.headerB .iconoB {
  font-size: 1.5em;
}

.logout-boton {
  position: absolute;
  right: 20px;
  background-color: #0056b3; /* Un azul más oscuro para diferenciarlo del fondo */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-boton:hover {
  background-color: #003d82; /* Aún más oscuro al hacer hover */
}

@media (max-width: 480px) {
  .headerB h1 {
      font-size: 1.5em;
  }

  .logout-boton {
      padding: 6px 12px;
      font-size: 0.9em;
      right: 10px;
  }
}